:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    250,220,184;
--color-neutral-200:    244,185,113;
--color-neutral-300:    239,149,42;
--color-neutral-400:    190,110,14;
--color-neutral-500:    119,69,9;
--color-neutral-600:    81,47,6;
--color-neutral-700:    43,25,3;
--color-neutral-800:    5,3,0;
--color-neutral-900:    0,0,0;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    253,240,227;
--color-primary-300:    248,202,155;
--color-primary-400:    243,163,84;
--color-primary-500:    233,125,17;
--color-primary-600:    195,105,14;
--color-primary-700:    157,84,11;
--color-primary-800:    119,64,9;
--color-primary-900:    81,43,6;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    251,198,198;
--color-secondary-300:    246,126,126;
--color-secondary-400:    240,55,55;
--color-secondary-500:    204,15,15;
--color-secondary-600:    166,12,12;
--color-secondary-700:    128,9,9;
--color-secondary-800:    90,7,7;
--color-secondary-900:    52,4,4;
}