:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    255,255,255;
--color-neutral-200:    253,240,227;
--color-neutral-300:    248,202,155;
--color-neutral-400:    243,163,84;
--color-neutral-500:    233,125,17;
--color-neutral-600:    195,105,14;
--color-neutral-700:    157,84,11;
--color-neutral-800:    119,64,9;
--color-neutral-900:    81,43,6;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    230,229,227;
--color-primary-300:    194,190,187;
--color-primary-400:    158,151,147;
--color-primary-500:    120,113,108;
--color-primary-600:    99,93,89;
--color-primary-700:    77,73,69;
--color-primary-800:    56,52,50;
--color-primary-900:    34,32,31;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    252,208,215;
--color-secondary-400:    248,135,155;
--color-secondary-500:    244,63,94;
--color-secondary-600:    242,24,62;
--color-secondary-700:    213,12,47;
--color-secondary-800:    175,10,38;
--color-secondary-900:    136,8,30;
}